*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin errorFirstString{
  color: red;
  letter-spacing: 3px;
  font-weight: bold;
}

@mixin errorSecondString{
  color: red;
  font-style: italic;
}

.wrapper{
  background-color: #f0f0f0;
  @include flex-center;
  height: 100vh;
  width: 100%;
}

.boxContent{
  width: 700px;
  height: 500px;
  background-color: white;
  @include flex-center;
  justify-content: space-around;
  border-radius: 40px 40px 200px 40px;
  padding: 40px;
  flex-direction: column;
  &__enterData{
    width: 100%;
    display: flex;
    align-items: start;
    height: 120px;
    gap: 20px;
    &_day,
    &_month,
    &_year{
      height: 100px;
      gap: 10px;
      display: flex;
      flex-direction: column;
      width: 150px;
      &_error{
        @include errorFirstString;
      }
      &_correct{
        color: silver;
        letter-spacing: 3px;
        font-weight: bold;
      }
      &_inputCorrect,
      &_inputError{
        border: 1px solid silver;
        border-radius: 5px;
        outline: none;
        height: 50px;
        font-size: 30px;
        padding: 0px 20px;
        color: black;
        font-weight: bold;
        &::placeholder{
          color: #898989;
        }
      }
      &_inputError{
        border: 1px solid red;
      }
      p:nth-child(3){
        @include errorSecondString;
        font-size: 14px;
      }
    }
  }
  &__error{
    color: red;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      text-align: center;
      height: 20px;
    }
  }
}

.showData{
  width: 100%;
  &__years,
  &__months,
  &__days{
    width: 100%;
    display: flex;
    align-items: start;
    gap: 10px;
    height: 70px;
    margin-bottom: 10px;
    &_default{
      color: #844dff;
      font-weight: bold;
      font-size: 70px;
      height: 80px;
    }
    &_error{
      color: rgb(255, 99, 99);
      font-weight: bold;
      font-size: 70px;
      height: 80px;
    }
    p:nth-child(2){
      color: black;
      font-weight: bold;
      font-size: 70px;
      height: 40px;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.line{
  @include flex-center;
  justify-content: start;
  width: 100%;
  &__lineBlock{
    width: 85%;
    height: 1px;
    border: 1px solid rgba(231, 231, 231, 0.684);
  }
  &__buttonCorrect{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.1s;
    &:hover{
      transform: scale(1.1);
      transition: all 0.1s;
      background-color: #844dff;
    }
    &:active{
      transform: scale(0.95);
      transition: all 0.1s;
      background-color: #844dff;
    }
    img{
      width: 30px;
      height: 30px;
    }
  }
  &__buttonIncorrect{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 64, 64);
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.1s;
    &:hover{
      transform: translate(-50%, -50%), scale(1.1);
      transition: all 0.1s;
      background-color: rgb(255, 99, 99);
    }
    &:active{
      transform: translate(-50%, -50%), scale(0.95);
      transition: all 0.1s;
      background-color: rgb(255, 99, 99);
    }
    img{
      width: 30px;
      height: 30px;
    }
  }
}

@media(max-width:768px){
  .boxContent{
    width: 98%;
    margin: 0px 10px;
    &__enterData{
      &_day,
      &_month,
      &_year{
        width: 30%;
        font-size: 20px;
        &_inputCorrect,
        &_inputError{
          font-size: 25px;
          padding: 0px 10px;
        }
      }
    }
    &__error{
      margin-top: -20px;
    }
    p:nth-child(3){
      @include errorSecondString;
      font-size: 14px;
    }
  }

  .line{
      &__lineBlock{
        width: 83%;
      }
  }

  .showData{
      &__years,
      &__months,
      &__days{
        height: 50px;
        p:nth-child(1){
          font-size: 55px;
        }
        p:nth-child(2){
          font-size: 55px;
        }
      }
  }  
}

@media(max-width:550px){
  .boxContent{
    p:nth-child(3){
      @include errorSecondString;
      font-size: 10px;
    }
  }
}

@media(max-width:425px){
  .boxContent{
    &__enterData{
      gap: 10px;
      justify-content: space-between;
      height: 80px;
      &_day,
      &_month,
      &_year{
        width: 30%;
        font-size: 12px;
        &_inputCorrect,
        &_inputError{
          font-size: 20px;
          padding: 0px 10px;
        }
      }
    }
    p:nth-child(3){
        @include errorSecondString;
        font-size: 12px;
      }
    &__error{
      margin-bottom: 20px;
    }
  }
  .showData{
      &__years,
      &__months,
      &__days{
        height: 50px;
        p:nth-child(1){
          font-size: 40px;
        }
        p:nth-child(2){
          font-size: 40px;
        }
      }
    }

    .line{
      position: relative;
      margin-bottom: 30px;
      &__lineBlock{
        width: 100%;
      }
      &__buttonCorrect{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        img{
          width: 25px;
          height: 25px;
        }
      }
      &__buttonIncorrect{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        img{
          width: 25px;
          height: 25px;
        }
      }
    }
}